<Input @type={{type}}
    @checked={{checked}} 
    disabled={{disabled}}
    tabindex={{tabindex}} 
    indeterminate={{indeterminate}}
    autofocus={{autofocus}} 
    name={{name}}
    form={{form}} 
    value={{value}}
    input={{input}}
    focusIn={{focusIn}} 
    focusOut={{focusOut}}
    click={{click}} 
    mouseDown={{mouseDown}}
    mouseUp={{mouseUp}} 
    mouseEnter={{mouseEnter}}
    mouseLeave={{mouseLeave}} 
    keyPress={{keyPress}}
/>

<i class="input-faker"></i>
<span class="input-text">{{yield}}</span>